# Firebase client-side config
VITE_FIREBASE_API_KEY="AIzaSyCO31KE_hEFAwXJ127EpW3-4olv2LduBus"
VITE_FIREBASE_AUTH_DOMAIN="swift-invoi.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="swift-invoi"
VITE_FIREBASE_STORAGE_BUCKET="swift-invoi.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="82621252142"
VITE_FIREBASE_APP_ID="1:82621252142:web:9210f3e515f29fd35255bf"
VITE_FIREBASE_MEASUREMENT_ID="G-4KLD1D7EP5"

# Firebase Admin / Firestore server-side config
FIREBASE_PROJECT_ID="swift-invoi"
FIREBASE_CLIENT_EMAIL="your_firebase_client_email"
# Use an escaped private key string. Replace actual newlines with \n.
# Example:
# FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIIEv...\n-----END PRIVATE KEY-----\n"
FIREBASE_PRIVATE_KEY="your_firebase_private_key"

# Client URL (for CORS)
CLIENT_URL=https://swift-invoiice.netlify.app/

# Server Port
PORT=5000

# Node Environment
NODE_ENV=production
